{% extends 'base.html.twig' %}

{% block title %}New MessageExchange{% endblock %}

{% block body %}
    <h1>Create new MessageExchange</h1>

    {{ include('message_exchange/_form.html.twig') }}

    <a href="{{ path('message_exchange_index') }}">back to list</a>
{% endblock %}
