{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block body %}
    <h1>Create new Equipment</h1>

    {{ include('equipment/_form.html.twig') }}

    <a href="{{ path('equipment_index') }}">back to list</a>
{% endblock %}
