{% extends 'base.html.twig' %}

{% block title %}ConversationExchange index{% endblock %}

{% block body %}
    <h1>ConversationExchange index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}<th>Id</th>{% endif %}
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conversation_exchange in conversation_exchanges %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}<td>{{ conversation_exchange.id }}</td>{% endif %}
                <td>{{ conversation_exchange.title }}</td>
                <td>{{ conversation_exchange.content }}</td>
                <td>
                    <a href="{{ path('conversation_exchange_show', {'id': conversation_exchange.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
