{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="row">
        <div class="homedream-container col-sm-12 no-padding">
            <div class="page-header d-flex">
                <div class='baseline'>
                    <h1>{{ 'title.homepage'|trans|raw }}</h1>
                </div>
                <div class='central-search'>
                    {{ render(controller('App\\Controller\\SearchController::searchWidgetSimple', {
                            '_locale': app.request.locale
                        }))
                    }}
                </div>
            </div>

            <div class="homepage_garden_dream">
            </div>
        </div>
    </div>

{% endblock %}
