// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$lato-font-path: '~lato-font/fonts';

@import "~bootswatch/flatly/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/flatly/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~highlight.js/styles/solarized-light.css";

@import "jquery.lightbox.scss";
@import "common.scss";

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

/* Basic styles
html {

}
   ------------------------------------------------------------------------- */
p, ul, ol {
  font-size: 19px;
  margin-bottom: 1.5em
}

li {
  margin-bottom: 0.5em
}

code {
  background: #ecf0f1;
  color: #2c3e50
}

.text-danger, .text-danger:hover {
  color: #e74c3c
}

i {
  margin-right: 0.25em
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
  vertical-align: middle;
}

.doclink {
    color: inherit
}

/* Utilities
   ------------------------------------------------------------------------- */
.m-b-0 { margin-bottom: 0 }

/* Page elements
   ------------------------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-bottom: 2em
}

header ul.nav li {
  margin-bottom: 0
}

header .locales {
  min-width: 190px;
}
header .locales a {
  color: #212529;
  padding: 3px 15px;
}
header .locales a small {
  border-radius: 4px;
  border: 2px solid #dee2e6;
  color: #7b8a8b;
  float: left;
  font-size: 12px;
  line-height: 1.1;
  margin: 2px 10px 0 0;
  min-width: 26px;
  padding: 0px 3px;
  text-align: center;
  text-transform: uppercase;
}
header .locales .active small,
header .locales a:hover small {
  color: inherit;
}

.body-container {
  flex: 1;
  /* needed to prevent pages with a very small height and browsers not supporting flex */
  min-height: 600px
}

.body-container #main h1, .body-container #main h2 {
  margin-top: 0
}

#sidebar .section {
  margin-bottom: 2em
}

#sidebar p {
  font-size: 1em
}

#sidebar p + p {
  margin: 1.5em 0 0
}

footer {
  background: #ecf0f1;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em
}

footer p {
  color: #7b8a8b;
  font-size: 13px;
  margin-bottom: 0.25em
}

footer #footer-resources {
  text-align: right
}

footer #footer-resources i {
  color: #7b8a8b;
  font-size: 28.5px;
  margin-left: 0.5em
}

#sourceCodeModal h3 {
  font-size: 19px;
  margin-top: 0
}

#sourceCodeModal h3 small {
  color: #7b8a8b;
  font-size: 80%
}

#sourceCodeModal pre {
  margin-bottom: 2em;
  padding: 0
}

#confirmationModal .modal-dialog {
  width: 500px
}

#confirmationModal .modal-footer button {
  min-width: 75px
}

/* Misc. elements
   ------------------------------------------------------------------------- */
.section.rss a {
  color: #f39c12;
  font-size: 21px;
}

/* Forms
   ------------------------------------------------------------------------- */
.form-group.has-error .form-control {
  border-color: #e74c3c
}

.form-group.has-error .control-label {
  color: #e74c3c
}

.form-group.has-error .help-block {
  background-color: #e74c3c;
  color: #fff;
  font-size: 2em;
  padding: 1em
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
  margin-bottom: 0
}
.form-group.has-error .help-block li + li {
  margin-top: 0.5em;
}

textarea {
  max-width: 100%
}

/* Page: 'Technical Requirements Checker'
   ------------------------------------------------------------------------- */
body#requirements_checker header h1 {
  margin-bottom: 0;
  margin-top: 0
}

body#requirements_checker header h1 span {
  font-size: 120%;
  opacity: 0.7;
  padding: 0 5px
}

body#requirements_checker .panel li {
  margin-bottom: 1em
}

/* Page: 'Homepage'
   ------------------------------------------------------------------------- */
body#homepage {

}

/* Page: 'Login'
   ------------------------------------------------------------------------- */
body#login #login-users-help p {
  font-size: 2em;
  line-height: 1.42857
}

body#login #login-users-help p:last-child {
  margin-bottom: 0
}

body#login #login-users-help p .label {
  margin-right: 5px
}

body#login #login-users-help p .console {
  display: block;
  margin: 5px 0;
  padding: 10px
}

/* Common Blog page elements
   ------------------------------------------------------------------------- */
.post-metadata {
  color: #b4bcc2;
  font-size: 19px;
  margin-bottom: 16px;
}
.post-metadata .metadata {
  margin-right: 1.5em;
}

.post-tags .label {
  margin-right: 5px;
}

/* Page: 'Blog index'
   ------------------------------------------------------------------------- */
body#blog_index #main h1,
body#blog_index #main p {
  margin-bottom: 0.5em
}

body#blog_index article.post {
  margin-bottom: 3em;
}

body#blog_index .post-metadata {
  font-size: 16px;
  margin-bottom: 8px;
}

body#blog_index .post-tags .label-default {
  background-color: #e9ecec;
  color: #6d8283;
}
body#blog_index .post-tags .label-default i {
  color: #a3b2b2;
}

/* Page: 'Blog post show'
   ------------------------------------------------------------------------- */
body#blog_post_show #main h3 {
  margin-bottom: 0.75em
}

body#blog_post_show .post-tags .label-default {
  background-color: #e9ecec;
  color: #6D8283;
  font-size: 16px;
  margin-right: 10px;
  padding: .4em 1em .5em;
}
body#blog_post_show .post-tags .label-default i {
  color: #95A6A7;
}

body#blog_post_show #post-add-comment {
  margin: 2em 0
}

body#blog_post_show #post-add-comment p {
  margin-bottom: 0
}

body#blog_post_show #post-add-comment p a.btn {
  margin-right: 0.5em
}

body#blog_post_show .post-comment {
  margin-bottom: 2em
}

body#blog_post_show .post-comment h4 {
  font-size: 13px;
  line-height: 1.42857;
  margin-top: 0
}

body#blog_post_show .post-comment h4 strong {
  display: block
}

/* Page: 'Comment form error'
   ------------------------------------------------------------------------- */
body#comment_form_error h1.text-danger {
  margin-bottom: 1em
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 98%;
  }
}

/* Page: 'Blog search'
   ------------------------------------------------------------------------- */
body#blog_search #main h1,
body#blog_search #main p {
  margin-bottom: 0.5em
}

body#blog_search article.post:first-child {
  margin-top: 2em;
}

body#blog_search article.post {
  margin-bottom: 2em;
}

body#blog_search .post-metadata {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Button: Input File
   ------------------------------------------------------------------------- */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    color: #f1e5e6;
    background-color: #f8a800;
    max-width: 100%;
    font-size: 2rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    margin: 1em 0 2em 0;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    cursor: pointer; /* "hand" cursor */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #722040;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* Header   ------------------------------------------------------------------------- */
header{

}
header ul.nav li:hover {
    background-color: $liHover;
}
.add-garden{
    background-color: $vert;
}
header ul.nav li.add-garden:hover {
    background-color: #FFF;
}

/* Main   ------------------------------------------------------------------------- */
#main{
    /* margin-top: 5vh; */
}
/* Navbar   ------------------------------------------------------------------------- */
.navbar-default {
    position: fixed;
    color: $baseColorGe;
    width: 100%;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    font-weight: $baseWeightGE;
}
.navbar-default .navbar-brand {
    color: $baseColorGe;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $baseColorGe;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $baseColorGe;
}
.navbar-default .navbar-nav .open .dropdown-menu.user > li > a:hover{
    background-color: transparent;
}
.navbar-default{
    z-index: 10000;
}
.navbar-default .navbar-nav > li > a {
    border: 1px solid #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-right ul li a:hover {
    /* border: 1px solid $liHover; */
}
.navbar-default .navbar-nav > li.add-garden > a {
    color: #FFF;
    border: 1px solid $vert;
}
.navbar-default .navbar-nav > li.add-garden > a:hover {
    color: $vert;
    border: 1px solid $vert;
}
form[name='simple_search']{
    display: flex;
}
form[name='simple_search'] .btn-primary{
    height: 3em;
    margin: 8px 0 0 1em;
}
.form-group {
    margin-top: 8px;
    margin-bottom: 10px;
}
.lang-select{
    font-size: 2.5em;
    margin: 6px 0 0 0;
}


/* Homepage   ------------------------------------------------------------------------- */
#homepage .homedream-container{
    position: relative;
    height: $coverHeight;
    min-height: $coverMinHeight;
    max-height: $coverMaxHeight;
}
#homepage .homepage_garden_dream {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('/uploads/images/homepage_ge2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
}

#homepage .page-header {
    flex-direction: column;
    align-items: center;
}
#homepage .page-header h1{
    margin: 5em 0 1em 0;
    color: #FFF;
    font-family: $fontGeneral;
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
}
.central-search{
    width: 25%;
}
.baseline{
    text-align: center;
}
/* NavBar   ------------------------------------------------------------------------- */
.navbar-default .navbar-toggle {
    background-color: #1a252f;
}
.navbar-lang{
    width: 200px;
}
header ul.nav li:hover {
    background-color: #F1F1F1;
}
form[name='simple_search'] .form-group{
    width: 100%;
}
.navbar-right{
    margin-right: 0;
}

/* Result   ------------------------------------------------------------------------- */
.carte-listings{
    position: sticky;
    right: 0;
    top: 65px;
}
gardensCarte{
    heigth: 100%;
}
.gardens-listing-result{
    display: flex;
    flex-wrap: wrap;
}
.garden-result{
    width: 48%;
    height: auto;
    box-shadow: 0 3px 10px 4px rgba(0,0,0,0.06);
    border-radius: 6px;
    border: 1px solid #e7e8e6;
    margin-bottom: 1em;
}
.titre-garden-listing{
    padding: .5em 0 1em 0;
    font-weight: 700;
    text-transform: uppercase;
}
.info-camp{
    padding: 0 1em 1em 1em;
}
.img-garden-listing{
    display: flex;
    justify-content: center;
}
.img-garden-listing img{
    border-radius: 1%;
    width: 100%;
}
.fisrt-image-search{
    min-height: 224px;
}
.img-garden-listing .image-none{
    margin: 25px 0;
}
.equipments-garden-listing{
    display: flex;
}
.equipment-garden-listing img{
    height: 40px;
}
/* Register   ------------------------------------------------------------------------- */
#register #main{
    display: flex;
    justify-content: center;
}
#register .well, #login .well{
    flex-grow: 1;
    margin: 6em 0 2em 0;
    padding: 2em;
}
#register .formulaire-registration{
    width: 400px;
}

/* Show   ------------------------------------------------------------------------- */
.desc-picto{
    text-align: center;
}
.contact{
    position: sticky;
    top: 200px;
    float: right;
    z-index: 1000;
}
/* Choices  ------------------------------------------------------------------------- */
.equipment_choice > img, .campingType_choice > img, .rules_choice img {
    opacity: .5;
    border: 3px solid gray;
}
.equipment_choice.equipment_selected > img, .campingType_choice.campingType_selected > img, .rule_choice.rule_selected img{
    opacity: 1;
    border: 5px solid $vert;
}

/* Equipment choice  ------------------------------------------------------------------------- */
.equipments_choice{
    display: flex;
}
.equipment_choice{
    margin: 0 1em;
}
.equipment_choice img{
    height: 100px;
    padding: 1em;
    margin: 0 0 .5em 0;
}

/* Camping type choice   ------------------------------------------------------------------------- */
.campingTypes_choice{
    display: flex;
}
.campingType_choice{
    margin: 0 1em;
}
.campingType_choice img{
    height: 100px;
    padding: 1em;
    margin: 0 0 .5em 0;
}

/* Rule choice  ------------------------------------------------------------------------- */
.rules_choice{
    display: flex;
}
.rule_choice{
    margin: 0 1em;
}
.rule_choice img{
    height: 100px;
    padding: 1em;
    margin: 0 0 .5em 0;
}

.publish-garden button{
    font-size: 3rem;
    margin: 3.5em;
}
/* Garden Listing */
.deactivate{
    opacity: .4;
    cursor: unset;
}

/* Garden Edit */
.action-garden-edit{
    justify-content: space-around;
}

/* Garden Show */
.title-garden{
    padding: 15px;
}
.action-garden-show{
    justify-content: space-around;
}
.photos-description{
    padding: 2em 0;
}
.img-garden-show{
    display: flex;
}
.first-photo img{
    width: 100%;
}
.other-photos{

}
.other-photos img:first{
    margin: 0;
}
.other-photos img{
    width: 100%;
}
.other-photos div{
    justify-content: space-around;
}
.campingTypes-garden-listing{
    display: flex;
}
.campingTypes-garden-listing img{
    height: 40px;
}
.description-garden{

}
.menu-admin{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 20px;
    top: 300px;
}
.menu-admin a{
    margin: 1em 0;
}
#garden_show h4 {
    font-size: 2em;
    font-weight: 700;
    margin: .5em 0 1em 0;
}
    
/* Responsive   ------------------------------------------------------------------------- */
@media only screen and (max-device-width: 767px) {
    .is-hidden-mobile{
        display: none;
    }
    .body-container {
        margin: 5vh 0 0 0;
    }
    header{
        height: 10vh;
        margin: 0;
    }
    #homepage header {
        height: auto;
    }
    .navbar{
        margin: 0;
    }
    .central-search{
        width: 80%;
    }
    #register .well, #login .well {
        flex-grow: 1;
        margin: 3em 0 1em 0;
        padding: 1em;
    }
    .garden-result {
        width: 100%;
    }
    .img-garden-show{
        width: 100%;
    }
    .contact {
        position: relative;
        margin: 0 0 1em 0;
        top: 0;
        top: 0;
    }
    .campingType_choice img, .equipment_choice img, .rule_choice img, {
        height: 60px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .is-hidden-mobile{
        display: none;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background: transparent;
    }
}
@media only screen and (min-device-width: 1024px) {
    .is-hidden-desktop{
        display: none;
    }
}
