/* Base   ------------------------------------------------------------------------- */
$baseBody: #ffffff;
$baseColorGe :    #303434;
$baseColorBlueGe :    #597edd;
$baseWeightGE : 600;
$liHover: #F1F1F1;
$fontGeneral: DejaVu Sans;
$coverMaxHeight: 670px;
$coverMinHeight: 700px;
$coverHeight: 100vh;
/* $vert : #008c81; */
$vert : #027b68;

a{
    color: $baseColorBlueGe;
}
a:hover, a:focus {
    color: $baseColorBlueGe;
}
#sidebar{
    margin: 4em 0;
}

/* Body   ------------------------------------------------------------------------- */
body{
    background: $baseBody;
    color: $baseColorGe;
}
.body-container {
    position: relative;
    width: 100%;
    margin: 8vh 0 0 0;
    overflow-wrap: anywhere;
}
#homepage .body-container {
    margin: 0;
}
.d-flex{
    display: flex;
}
.jc-center{
    justify-content: center;
    flex-wrap: wrap;
}
.jc-space-evenly{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.jc-space-evenly-no-wrap{
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.jc-space-between{
    justify-content: space-between;
    flex-wrap: wrap;
}
.jc-space-around{
    justify-content: space-around;
    flex-wrap: wrap;
}
.txt-center{
    text-align: center;
}
.align-center{
    align-content: center;
}
.clear-wrap{
    flex-wrap: wrap;
}
.no-padding{
    padding: 0;
}
@for $i from 1 through 9 {
  .margin-top-#{$i}) {
    margin-top: #{$i}em;
  }
}
.margin-top-05{
    margin-top: .5em;
}
.column{
    flex-direction: column;
}
hr{
    display: flex;
    border: 1px solid #eee;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}
