/* Base   ------------------------------------------------------------------------- */
$baseBody: #f9f9f9;
$baseColorGe :    #303434;
$baseWeightGE : 600;
$liHover: #F1F1F1;
$fontGeneral: DejaVu Sans;
$coverMaxHeight: 900px;
$coverMinHeight: 700px;
$coverHeight: 100vh;
/* $vert : #008c81; */
$vert : #027b68;

a{
    color: $baseColorGe;
}
a:hover, a:focus {
    color: $baseColorGe;
}
#sidebar{
    margin: 4em 0;
}

/* Body   ------------------------------------------------------------------------- */
body{
    background: $baseBody;
}
.body-container {
    position: relative;
    width: 100%;
    margin: 5vh 0 0 0;
    overflow-wrap: anywhere;
}
#homepage .body-container {
    margin: 0;
}
.d-flex{
    display: flex;
}
.jc-center{
    justify-content: center;
    flex-wrap: wrap;
}
.jc-space-evenly{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.jc-space-between{
    justify-content: space-between;
    flex-wrap: wrap;
}
.jc-space-around{
    justify-content: space-around;
    flex-wrap: wrap;
}
.txt-center{
    text-align: center;
}
.clear-wrap{
    flex-wrap: wrap;
}
.no-padding{
    padding: 0;
}
.column{
    flex-direction: column;
}
hr{
    border: 1px solid #eee;
    width: 68%;
}
