{% extends 'emails/layout.html.twig' %}

{% block content %}

    <img src="{{ email.image('@images/logo-garden-exchange.png') }}" alt="Logo Garden Exchange">
    <h1>{{ 'email.garden.online'|trans }}</h1>

    <p><a href="https://garden-exchange.org">Aller sur Garden Exchange</a></p>

{% endblock %}
