{% extends 'emails/layout_email.html.twig' %}

{% block content %}

    <img src="{{ email.image('@images/logo-garden-bivouac.png') }}" alt="Logo Garden Bivouac">
    <h1>{{ 'email.new.message'|trans }}</h1>

    <p>{{ 'email.garden.near'|trans }} {{ conversationBivouac.garden.city }}</p>
    <p><a href="https://gardenbivouac.org">Aller sur Garden Bivouac</a></p>

{% endblock %}
