{% extends 'emails/layout_admin.html.twig' %}

{% block content %}
    <p>De : {{firstName}} {{lastName}}</p>
    <p>Email : {{emailContact}}</p>
    <p>Contenu :</p>
    <p>{{ content }}</p>
    <br />
    <a href="https://gardenbivouac.org/fr/admin">Aller sur Garden Bivouac répondre</a></p>

{% endblock %}
