{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_index' %}

{% block class_body %}col-sm-12{% endblock %}

{% block main %}
    <h1>{{ 'title.garden_list'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('garden/_listings_garden_admin.html.twig') }}
    {% else %}
        {{ include('garden/_listings_garden_camper.html.twig') }}
    {% endif %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
