{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_garden_new' %}

{% block class_body %}col-sm-10 col-md-offset-1{% endblock %}

{% block main %}
    <h1>{{ 'title.garden_new'|trans }}</h1>
    
    {{ include('admin/garden/_form.html.twig', {
        form: form,
        garden: garden,
        button_label: 'action.add.garden'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
