<div class="notification notificationCheckEmail">
    <p>{{ 'notice.verification.mail.mandatory'|trans }}</p>
    <button type="button" class="btn btn-primary ajaxLink" id="btnCheckEmail" data-action="{{ path('resend_verification_mail')}}">
        <i class="fa fa-envelope" aria-hidden="true"></i> {{ 'resend.verification.mail'|trans }}
    </button>
</div>
